<br />

<div class="booyah-box col-10 offset-1">
  <h2>What I'm Learning</h2>
  <% current_user.enrolled_courses.each do |course| %>
    <% if course.title %>
      <h3 class="text-left">
        <%= link_to course.title, course_path(course) %>
      </h3>
      <br />
      <%= image_tag course.file.url, class: 'img-fluid' %>
    <% end %>
  <% end %>

    <br />
    <br />
    <div class="row">
      <div class="col-12 col-sm-7">
        <%= course.description %>
        <br />
        <br />
        <%= link_to "View this course", course_path(course), class: 'btn btn-lg btn-primary' %>
      </div>
    </div>
    <hr class="col-8 offset-2">
    <br class="clr" />
<% end %>

  <h2>What I'm Teaching</h2>
<% current_user.courses.each do |course| %>
  <% if course_path(course) %>
    <h3 class="text-left">
      <%= link_to course.title, course_path(course) %>
      </h3>
     <br />
    <%= image_tag course.file.url, class: 'img-fluid' %>
  <% end %>
  
  <br />
  <div class="row">
      <div class="col-12 col-sm-7">
        <%= course.description %>
        <br />
        <br />
        <%= link_to "View this course", course_path(course), class: 'btn btn-lg btn-primary' %>
      </div>
    </div>
    <hr class="col-8 offset-2">
    <br class="clr" />
<% end %>
</div>